<!-- app/views/devise/passwords/new.html.erb -->

<div class="container">
  <h2 class="mt-5 mb-4">Забыли пароль?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'mb-4' }) do |f| %>
    <%= render 'devise/shared/error_messages', resource: resource %>

    <div class="mb-3">
      <%= f.label :email, 'Электронная почта', class: 'form-label' %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="mb-4">
      <%= f.submit 'Отправить инструкции по сбросу пароля', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <p class="mb-0">Уже есть аккаунт? <%= link_to "Войти", new_user_session_path %></p>
</div>
