<!-- layouts/_navbar.html.erb -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand', id: 'logo-link' do %>
      <%= image_tag 'LOGOAPP.png', alt: 'Logo', class: 'img-fluid' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to 'Главная', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Новый Пост', new_post_path, class: 'nav-link' %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to 'Выйти', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Настройки', settings_user_path(current_user), class: 'nav-link' %>
          </li>
          <!-- Добавьте следующую строку для новой ссылки -->
          <li class="nav-item">
            <%= link_to 'Статистика', statistics_path, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Войти', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>



